.popup__input {
    cursor: pointer;
    margin: 20px auto 0;
    display: block;
    max-width: 358px;
    width: 100%;
    font-size: 25px;
    line-height: 17px;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 50px;
    border-color: black;
    border-radius: 20px;
}

.popup__input:first-child {
    padding-top: 0;
}