.header__sidebar_close{
    cursor: pointer;
    background: url("../../../../images/close_white.png") no-repeat;
    border: none;
    border-radius: 5px;
    background-size: 32px 32px;
    position: absolute;
    max-width: 16px;
    min-height: 16px;
    padding: 16px;
    right: 20px;
    top: 20px;
}