.popup__save {
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    border-radius: 20px;
    background-color: #305278;
    min-height: 50px;
    border: none;
    font-weight: 400;
    margin-top: 60px;
}

.popup__save:hover {
    opacity: 0.8;
}
