.header__sidebar{
    display: block;
    position: fixed;
    width : 320px;
    outline: none;
    cursor: auto;
    background-color: rgba(0,0,0,0);
    height: 100%;
    right: 0;
    top: 0;
    margin-right: -500px;
    transition: all .3s linear 0s;
}